.gal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    align-items: center;
}
/*fix spacing on vimeo iframe embeds*/
.gal-grid iframe {
    height: auto;
    margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .gal-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
